<!DOCTYPE html>
<html>
  <head>
    <%= partial 'partials/_header_tags.erb' %>
  </head>
  <body>
    <%= partial 'partials/_header.html.erb' %>
    <% author = resolve_author_data(current_page.data.author)%>

    <div class="bg-white">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <p
            class="
              mt-1
              text-4xl
              font-extrabold
              text-gray-900
              sm:text-5xl sm:tracking-tight
              lg:text-6xl
            "
          >
            <%= current_page.title %>
          </p>
          <div class="py-2 text-sm text-gray-500">
            <p><%= author[:name] %>, <%= current_page.data.date %></p>
          </div>
        </div>
        <div class="my-10 flex flex-row justify-center">
          <img
            class="rounded-sm shadow-sm ring-1 ring-black ring-opacity-5"
            src="<%= current_page.data.image + "&w=800&h=300" %>"
            alt=""
          />
        </div>
        <div class="max-w-3xl mt-5 mx-auto prose">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= partial 'partials/landing/_newsletter.html.erb' %>
    <%= partial 'partials/_footer.html.erb' %> <%= javascript_include_tag "site"
    %>
  </body>
</html>
