<!doctype html>
<html>
  <head>
    <%= partial 'partials/_header_tags.erb' %>
  </head>

  <body>
    <%= partial 'partials/_header.html.erb' %>
    <%= yield %>
    <%= partial 'partials/_footer.html.erb' %>   
    <%= javascript_include_tag "site" %>
  </body>

</html>
