<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<!-- Use the title from a page's frontmatter if it has one -->
<title>Sponsaurus <%= " | " + (current_page.data.title || "") %></title>
<meta name='title' content='Sponsaurus | <%=current_page.data.title || data.site.title%>'>
<meta name='description' content='<%=current_page.data.description || data.site.description%>'>

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website'>
<meta property='og:url' content='<%=current_page.url%>'>
<meta property='og:title' content='<%=current_page.data.title || data.site.title%>'>
<meta property='og:description' content='<%=current_page.data.description || data.site.description%>'>
<meta property='og:image' content='<%=current_page.data.thumbnail || '/images/logo_square.png'%>'>

<!-- Twitter -->
<meta property='twitter:card' content='summary'>
<meta property='twitter:url' content='<%=current_page.url%>'>
<meta property='twitter:title' content='<%=current_page.data.title || data.site.title%>'>
<meta property='twitter:description' content='<%=current_page.data.description || data.site.description%>'>
<meta property='twitter:image'  content='<%=current_page.data.thumbnail || '/images/logo_square.png'%>'>

<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<script src="https://unpkg.com/vue@3.2.2/dist/vue.global.prod.js"></script>
<%= favicon_tag 'favicon.ico' %> 
<%= stylesheet_link_tag "site" %> 
<% if app.build? %> 
  <%= partial 'partials/tracking_snippet' %> 
<% end %>
